.form-control.focus,.form-control:focus{background-color:#dcdcdc!important}footer{background-color:#fff;border-top:5px solid #eee;padding:10px}.panel{margin-bottom:25px;-webkit-box-shadow:0 0 5px #ccc;box-shadow:0 0 5px #ccc;border:1px solid #ccc}.panel-heading{border-bottom:1px solid #e1e1e1}.panel-title{font-size:18px;font-weight:700}.kv-avatar .krajee-default.file-preview-frame,.kv-avatar .krajee-default.file-preview-frame:hover{margin:0;padding:0;border:none;-webkit-box-shadow:none;box-shadow:none;text-align:center}.kv-avatar{display:inline-block}.kv-avatar img{width:100%}.kv-avatar .file-input{display:table-cell;width:100%}.kv-reqd{color:red;font-family:monospace;font-weight:400}.btn-xxs{padding:0 4px;font-size:10px;cursor:pointer}.btn-brown{background-color:#795548!important;color:#fff}.btn-brown:hover{background-color:#896052!important;color:#fff}.btn-unique:hover{background-color:#9f105c!important;color:#fff}.btn-unique{background-color:#880e4f!important;color:#fff}.btn-elegant:hover{background-color:#3b3b3b!important;color:#fff}.btn-elegant{background-color:#2e2e2e!important;color:#fff}.btn-purple:hover{background-color:#a028bf!important;color:#fff}.btn-purple{background-color:#8e24aa!important;color:#fff}hr.divider-menu{margin:0;border-top:1px solid #ccc}#menu .navigation span.title{text-align:left;color:#666;position:relative;display:block;font-size:13px;font-weight:700;line-height:20px;padding:11px 20px;-webkit-transition:none;transition:none}#menu li.active>span.title{padding:11px 20px 11px 17px;background:#f8f8f8;color:#2283bf;border-left:3px solid #2283bf;-webkit-transition:none;transition:none}#menu li.sub>a{padding-left:34px}#menu li.subsub>a{padding-left:57px}#content{overflow:visible}.animation-rotate{-webkit-animation:rotate 2.8s infinite linear;animation:rotate 2.8s infinite linear}@-webkit-keyframes rotate{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}@keyframes rotate{0%{-webkit-transform:rotate(0deg);transform:rotate(0deg)}to{-webkit-transform:rotate(1turn);transform:rotate(1turn)}}fieldset{border:1px solid #21b6df;border-radius:15px;margin-top:10px;margin-left:-15px;margin-right:-15px}fieldset span.legend{font-size:1.2em;position:relative;top:-13px;left:15px;display:inline-block;border:1px solid #000;border-radius:15px;padding:0 10px;background-color:#fff}table.small{margin-bottom:0;font-size:12px}table.small>tbody>tr>td,table.small>tbody>tr>th,table.small>tfoot>tr>td,table.small>tfoot>tr>th,table.small>thead>tr>td,table.small>thead>tr>th{padding:2px;line-height:1.2}table.small .btn-small{padding:0 2px;font-size:10px}.stat-content>span{margin:10px 0}.stat-content>h4{margin:0 0 13px}.stat-content>div.content-wrapper{background:none repeat scroll 0 0 #f5f5f5;border-top:1px solid #ecedf0;color:#777;float:left;font-size:14px;font-weight:400;margin:0;padding:10px;width:100%}.tag-design i.fa{color:#fff;font-size:15px;font-weight:700;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.progress{margin:5px 0 0}.progress-bar{font-size:12px;color:#000}.stat-content.stat-content-small{margin-bottom:0}.stat-content.stat-content-small .tag-wrapper{height:60px;right:-31px;top:-15px;width:70px}.stat-content.stat-content-small .tag-design{width:54px}.stat-content.stat-content-small .tag-design i.fa{font-size:12px}.stat-content.stat-content-small>span{margin-bottom:5px}.stat-content.stat-content-small>h4{margin:5px 0}.dataTables_wrapper .dataTables_length{float:right}.dataTables_wrapper .dataTables_filter{float:left}#fechasWrapper div.btn-group.dropdown{max-height:20px}#fechasWrapper div.btn-group.dropdown div.input-group{width:100px}#fechasWrapper div.btn-group.dropdown div.input-group-btn{opacity:0;z-index:10;display:inline}#fechasWrapper div.btn-group.dropdown div.input-group-btn button{padding:0;width:100%}#fechasWrapper div.btn-group.dropdown input{width:100px;text-align:center;position:relative;padding:0;border:0;top:-23px}span.selectAgrupador{position:relative;top:-2px;cursor:pointer}.dropdown-toggle.btn-default,div[data-role=date-picker] .btn-default{color:#333;background-color:#fff}.registro.nivel-3{background-color:#05a9d7}.registro.nivel-2{background-color:#5095e7}.registro.nivel-1{background-color:#1be2ab}


/* loader */
#loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    z-index: 9999;
}

.spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #666;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}


@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

#table_processing {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 80px;
    height: 80px;
    margin: -40px 0 0 -40px;
    border-radius: 50%;
    border: 2px solid transparent;
    border-top-color: #666;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}